obj
es5conform
src/es5.b.byte
src/s5.d.byte

*.swp
tests/*.swp
tests/unit-tests/*.swp
src/*.swp
tests/test262/test262/
tests/test262/results*
tests/ses/es-lab-read-only/
tests/sym/harness/*/*.es5.result

build/
*~
src/_build/

*.tgz
*.tar.gz
*.pyc

lib/graph.a
lib/graph.cma
lib/graph.cmi
lib/graph.cmo
lib/graph.cmx
lib/graph.cmxa
lib/graph.o

*.cmi
*.annot
*.o
*.cmx
*.cmo
*.a

src/ocamlgraph-1.8.1/META
src/ocamlgraph-1.8.1/Makefile
src/ocamlgraph-1.8.1/config.log
src/ocamlgraph-1.8.1/config.status
src/ocamlgraph-1.8.1/graph.cma
src/ocamlgraph-1.8.1/graph.cmxa
src/ocamlgraph-1.8.1/src/dot_lexer.ml
src/ocamlgraph-1.8.1/src/dot_parser.ml
src/ocamlgraph-1.8.1/src/dot_parser.mli
src/ocamlgraph-1.8.1/src/dot_parser.output
src/ocamlgraph-1.8.1/src/gml.ml
src/ocamlgraph-1.8.1/src/version.ml

