obj
es5conform
src/es5.b.byte
src/s5.d.byte

*.swp
tests/*.swp
tests/unit-tests/*.swp
src/*.swp
tests/test262/test262/
tests/test262/results*

build/
*~
src/_build/

*.tgz
*.tar.gz
*.pyc
